.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.card h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Increased the gap for more spacing */
  align-items: stretch; /* Make inputs and button stretch to full width */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box; /* Ensures padding is included in width calculation */
}

input::placeholder {
  color: #aaa;
}

button {
  background-color: #4a6480;
  color: #4a6480;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%; /* Button now takes up the full width */
}

button:hover {
  background-color: #4a6480;
}

p {
  margin-top: 15px;
}

a {
  color: #4a6480;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
