@font-face {
    font-family: "Super";
    src: url("../../assets/fonts/Supertea.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }
    
@font-face {
font-family: "JMH";
src: url("../../assets/fonts/JMH\ Typewriter-Thin.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
    
    .home-container p {
    font-family: "JMH", sans-serif;
    font-size: 1.2rem;
    color: #333;
    margin: 20px 0;
    max-width: 600px;
    line-height: 1.5;
    font-weight: bold;
    }
    
    .home-container p2 {
    font-family: "JMH", sans-serif;
    font-size: 0.8rem;
    color: #333;
    margin: 20px 0;
    max-width: 600px;
    line-height: 1.5;
    font-weight: bold;
    }
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        padding: 20px;
        background-image: 
            url('../../assets/imgs/landscape_left.png'),
            url('../../assets/imgs/landscape_right.png');
        background-position: 
            -50px bottom,
            calc(100% + 90px) bottom;
        background-repeat: no-repeat, no-repeat;
        background-size: 60%, 50%;
        background-attachment: fixed, fixed;
    }
    
    
    
    .typewriter span {
    font-family: "Super", sans-serif; /* Apply the font */
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid #577598; /* Blinking cursor */
    white-space: nowrap;
    letter-spacing: 0.05em;
    font-size: 3.8rem;
    font-weight: bold;
    color: #333;
    animation: typewriter 2s steps(20, end) forwards, blink-caret 0.75s step-end infinite;
    }
    
    @keyframes typewriter {
    from {
    width: 0;
    }
    to {
    width: 100%;
    }
    }
    
    @keyframes blink-caret {
    from,
    to {
    border-color: transparent;
    }
    50% {
    border-color: #577598;
    }
    }
    .home-container button {
        display: inline-block; /* Makes the button fit the text */
        font-family: "JMH", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        background-color: #577598;
        border: none;
        border-radius: 10px;
        padding: 12px 20px; /* Adjusted padding for better fit */
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        white-space: nowrap; /* Prevents text from wrapping inside the button */
        width: auto; /* Ensures button width adjusts to content */
        min-width: fit-content; /* Prevents it from stretching unnecessarily */
    }
    
    .home-container button:hover {
    background-color: #4a6480;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }
    
    .home-container button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }